In [1]:
# # Data type in the python 
# 1. Numeric type

In [2]:
#there are three type of data in the numeric type :- \
# Int  -  represent integers which are the whole numbers that are positive and negative 
# float -  The data or the number which end with the decimal 
# complex :- one of the data is real and another one was the imaginary

In [7]:
# example of the int 
exa_1 =  3
print(exa_1)
print (type(exa_1))

3
<class 'int'>

In [8]:
# example of the float
exa_2 =  3.0
print(exa_2)
print(type(exa_2))

3.0
<class 'float'>

In [11]:
# example of the complex number

exa_3 =  2+3J

print(exa_3)
print(type(exa_3))

(2+3j)
<class 'complex'>

In [12]:
# now we are changing the type of the data type 

# conversion from int to float 
exa_4 = float(exa_1)

In [14]:
print(type(exa_4))

<class 'float'>

In [15]:
# similary we change the data type from float to int 
exa_5 =  int(exa_4)

print(exa_4 , "and the data type is" , type(exa_5))

3.0 and the data type is <class 'int'>

In [16]:
# se we cannot convert the complex into the different anothe data type like float or int but we have the method  to convert each one by onelike imag and real 
# example :- 
real_part = exa_3.real       # 2.0
imaginary_part = exa_3.imag  # 3.0

print(float(real_part))      # 2.0
print(int(real_part))        # 2

2.0
2

In [17]:
# or another mehtod :-

exa_3 = 2 + 3j
print(float(exa_3.real))  # 2.0
print(int(exa_3.imag))    # 3

2.0
3

In [18]:
#-------------STRING-----------#
# In Python, a string is a sequence of characters enclosed within single quotes
# ('), double quotes ("), or triple quotes (''' or """).

# OR 

# A string is a collection of characters, such as letters, numbers, symbols, or spaces, used to represent text.

In [19]:
name = 'Shailendra'        # Single-quoted string
greeting = "Hello World!"  # Double-quoted string
sentence = '''This is a
multiline string'''        # Triple-quoted (multi-line) string

In [20]:
print(name)
print(greeting)
print(sentence)

Shailendra
Hello World!
This is a
multiline string

In [21]:
print(f"{name} | {greeting} | {sentence}")

Shailendra | Hello World! | This is a
multiline string

In [22]:
# Note :- An f-string is a way to embed variables or expressions directly inside 
# a string, using curly braces {} and prefixing the string with the letter f.

name = "Shailendra"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Shailendra and I am 25 years old.

In [23]:
# Important Points:
# Strings are immutable (cannot be changed after creation).

# Strings support indexing, slicing, and many built-in methods (.upper(), .lower(), .split(), etc.).



# You can access individual characters using their index:

In [25]:
word = "Python"
print(word[0])  # P
print(word[-1]) # n

P
y

In [27]:
# | Slice        | Meaning                              | Example (word="Python") | Output   |
# | ------------ | ------------------------------------ | ----------------------- | -------- |
# | `word[2:]`   | From index 2 to end                  | `word[2:]`              | `thon`   |
# | `word[:4]`   | From start to index 4 (not included) | `word[:4]`              | `Pyth`   |
# | `word[:]`    | Full copy of string                  | `word[:]`               | `Python` |
# | `word[-3:]`  | Last 3 characters                    | `word[-3:]`             | `hon`    |
# | `word[:-2]`  | All except last 2 characters         | `word[:-2]`             | `Pyth`   |
# | `word[::2]`  | Every second character               | `word[::2]`             | `Pto`    |
# | `word[::-1]` | Reverse string                       | `word[::-1]`            | `nohtyP` |

In [28]:
# # # About the Indexing 
# # Indexing allows you to access individual characters in a string.


# word = "P  y  t  h  o  n"
#          0  1  2  3  4  5   → Positive index
#         -6 -5 -4 -3 -2 -1   → Negative index

In [29]:
# # Slicing with different index types

# Upper index missing (word[start:])

print(word[2:])     # Output: 'thon'
# Starts at index 2 → includes characters from index 2 to the end

thon

In [30]:
# Lower index missing (word[:end])

print(word[:4])     # Output: 'Pyth'
# Starts from beginning (index 0) → up to index 4 (excluding 4)

Pyth

In [31]:
 # Both indices missing (word[:])
print(word[:])      # Output: 'Python'
# Copies the entire string

Python

In [32]:
# Negative indexing


print(word[-3:])    # Output: 'hon'
# Last 3 characters
print(word[:-2])    # Output: 'Pyth'
# Up to the 2nd last character

hon
Pyth

In [33]:
# With step value (word[start:end:step])


print(word[::2])    # Output: 'Pto'
# Skips every second character
print(word[::-1])   # Output: 'nohtyP'
# Reverses the string

Pto
nohtyP

In [34]:
# Note :- 

# Strings in Python are Immutable
# This means once a string is created, you cannot change its characters directly by indexing.

In [35]:
word = "Python"
word[0] = 'J'  # ❌ Error

TypeError: 'str' object does not support item assignment

In [36]:
# How to "change" a string:
# You can't change in-place, but you can create a new string using slicing, concatenation, or .replace().

In [37]:
word = "Python"
new_word = 'J' + word[1:]
print(new_word)  # 'Jython'

Jython

In [38]:
word = "Python"
new_word = word.replace('P', 'J')
print(new_word)  # 'Jython'

Jython

In [39]:
word = "Python"
new_word = f"{'J'}{word[1:]}"
print(new_word)  # 'Jython'

Jython

In [40]:
# | Operation                | Possible? | Method                  |
# | ------------------------ | --------- | ----------------------- |
# | `word[0] = 'J'`          | ❌ No      | Not allowed             |
# | `word.replace('P', 'J')` | ✅ Yes     | `.replace()`            |
# | `word = 'J' + word[1:]`  | ✅ Yes     | String slicing & concat |

In [41]:
# All major string operations like upper, lower, title, swapcase, capitalize in one print statement:

word = "thirty Days of PYTHON"

print(
    "Upper:", word.upper(), "\n",
    "Lower:", word.lower(), "\n",
    "Title:", word.title(), "\n",
    "Swapcase:", word.swapcase(), "\n",
    "Capitalize:", word.capitalize()
)

Upper: THIRTY DAYS OF PYTHON
 Lower: thirty days of python
 Title: Thirty Days Of Python
 Swapcase: THIRTY dAYS OF python
 Capitalize: Thirty days of python